body {
  margin: 0;
  padding: 0;
  background-color: #181414;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.particles-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2rem;
  color: #288cfc;
  text-align: center;
  transition: top 1.5s ease;
}

.text-wrapper.float-up {
  top: 10%;
}
.card-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  margin-top: 200px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.card-container.show {
  opacity: 1;
  transform: translateY(0);
}

.card {
  width: 90%;
  max-width: 500px;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 200px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.card-container.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .card {
    width: 100%;
    max-width: 90vw;
  }
}
